@font-face {
    font-family: 'SpaceGrotesk';
    font-style: normal;
    font-weight: 200;
    src: url(/fonts/SpaceGrotesk-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'SpaceGrotesk';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/SpaceGrotesk-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'SpaceGrotesk';
    font-style: normal;
    font-weight: 600;
    src: url(/fonts/SpaceGrotesk-SemiBold.ttf) format('truetype');
}

@font-face {
    font-family: 'SpaceGrotesk';
    font-style: normal;
    font-weight: 700;
    src: url(/fonts/SpaceGrotesk-Bold.ttf) format('truetype');
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: 'SpaceGrotesk';
}

body {
    font-family: 'SpaceGrotesk';
    background: #003973;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(
        90deg,
        rgba(0, 57, 115, 0.2) 0%,
        rgba(229, 229, 190, 0.2) 100%
    );
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(90deg, rgba(0, 57, 115, 0.2) 0%, rgba(229, 229, 190, 0.2) 100%);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
