@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'SpaceGrotesk';
    font-style: normal;
    font-weight: 200;
    src: url(/fonts/SpaceGrotesk-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'SpaceGrotesk';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/SpaceGrotesk-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'SpaceGrotesk';
    font-style: normal;
    font-weight: 600;
    src: url(/fonts/SpaceGrotesk-SemiBold.ttf) format('truetype');
}

@font-face {
    font-family: 'SpaceGrotesk';
    font-style: normal;
    font-weight: 700;
    src: url(/fonts/SpaceGrotesk-Bold.ttf) format('truetype');
}

/* General tags styling */
h1 {
    @apply text-3xl tracking-tighter;
}

h2 {
    @apply text-2xl leading-[1.8rem];
}

h3 {
    @apply text-xl leading-[1.5rem];
}

h4 {
    @apply text-lg leading-[1.35rem];
}

p {
    @apply text-base leading-[1.3rem];
}

h2,
h3 {
    @apply tracking-tight;
}

body {
    font-family: 'SpaceGrotesk';
    /* TODO: change background style */
    @apply dark:bg-slate-800 bg-white;
    @apply text-neutral-700 dark:text-neutral-200;
    @apply dark:bg-gradient-to-b dark:from-slate-900 dark:to-slate-800 dark:to-30%;
    @apply dark:bg-opacity-80 bg-opacity-80;

    /* background-image: url(/img/bg-dark-two.jpg); */
    /* background-size: 115%; */
    background-size: cover;
}

kbd {
    @apply px-2 py-1 text-xs font-semibold text-gray-800 bg-gray-100 border border-gray-200 rounded-lg dark:bg-gray-600 dark:text-gray-100 dark:border-gray-500;
}

/* Custom classes */
.top-nav {
    @apply sticky top-0 z-20;
    @apply min-w-full min-h-20;
    @apply flex flex-row items-center;
    @apply px-8 py-2;
    @apply gap-x-2;
}

.card {
    @apply flex flex-col gap-y-2;
    @apply bg-neutral-100 dark:bg-slate-700 bg-opacity-85;
    @apply min-w-0 max-w-full min-h-fit max-h-full w-fit;
    @apply px-4 py-2;
    @apply rounded-xl;
}

.card-hover {
    @apply flex flex-col gap-y-2;
    @apply bg-neutral-100 dark:bg-[#101720] bg-opacity-40 dark:bg-opacity-60 backdrop-blur-md;
    @apply min-w-0 max-w-full min-h-fit max-h-full;
    @apply px-6 py-4;
    @apply rounded-xl;
    @apply hover:brightness-110;
    @apply transition-all;
}
