@font-face {
    font-family: 'SpaceGrotesk';
    font-style: normal;
    font-weight: 200;
    src: url(/fonts/SpaceGrotesk-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'SpaceGrotesk';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/SpaceGrotesk-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'SpaceGrotesk';
    font-style: normal;
    font-weight: 600;
    src: url(/fonts/SpaceGrotesk-SemiBold.ttf) format('truetype');
}

@font-face {
    font-family: 'SpaceGrotesk';
    font-style: normal;
    font-weight: 700;
    src: url(/fonts/SpaceGrotesk-Bold.ttf) format('truetype');
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: 'SpaceGrotesk';
}
